.CardDisplay {
	height: 400px;
}

.CardDisplay-image {
	margin-bottom: 20px;
}

.CardDisplay-errorMsg {
	color: red;
	font-size: 20px;
	font-weight: bold;
	background-color: rgb(231, 191, 177);
	border-radius: 5px;
}
